import React from 'react';
import { shallow } from 'enzyme';
// import { defineMessages } from 'react-intl';
import { LanguageProvider } from '../LanguageProvider';

let baseProps;

beforeAll(() => {
  baseProps = {
    language: {
      messages: {
        it: {
          'ark.route.test.messagetest': 'Testing language',
        },
      },
      locale: 'it',
    },
  };
});


describe('<LanguageProvider />', () => {
  it('should render its children', () => {
    const children = <h1>Test</h1>;
    const renderedComponent = shallow(
      <LanguageProvider {...baseProps}>
        {children}
      </LanguageProvider>,
    );
    expect(renderedComponent.contains(children)).toBe(true);
  });
});
