{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "redux-saga"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAGE__": false,
    "ENV": true,
    "ISMOCK": false,
    "API_REST_BE": false
  },
  "rules": {
    "arrow-body-style": [2, "as-needed"],
    "comma-dangle": 1,
    "object-curly-newline": [0, {
        "multiline": true,
        "minProperties": 3
    }],
    "quotes": [
      1,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "react/forbid-prop-types": [0, {
      "checkContextTypes": false ,
      "checkChildContextTypes": false
    }],
    "react/destructuring-assignment": [0, {
        "extensions": [".jsx"]
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "max-len": [1, {
      "code": 120
    }
    ],
    "redux-saga/no-yield-in-race": 2,
    "redux-saga/yield-effects": 2,
    "require-yield": 0,
    "no-console": 0,
    "indent": [
      "error", 2,
      { "ignoredNodes": ["TemplateLiteral"] }
    ],
    "template-curly-spacing": "off",
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "no-underscore-dangle": 0,
    "no-useless-escape": 0,
    "no-shadow": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}
