environment:
  nodejs_version: '8'

install:
  - npm install -g codecov

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  # run tests
  - jest && codecov
