# Set build version format here instead of in the admin panel
version: '{build}'

# Do not build on gh tags
skip_tags: true

# Test against these versions of Node.js
environment:
  matrix:
    # Node versions to run
    - nodejs_version: 'Current'
    - nodejs_version: 'LTS'

# Fix line endings in Windows. (runs before repo cloning)
init:
  - git config --global core.autocrlf input

install:
# Install the latest stable version of Node
  - ps: Install-Product node $env:nodejs_version
  - npm ci
  - npm install -g codecov

# Disable automatic builds
build: 'off'

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  - node ./server/utils/check-version
  - codecov -t $env:CODECOV_TOKEN -f "coverage.xml"
  # run tests and run build
  - npm run start

# Cache node_modules for faster builds
cache:
 - "%LOCALAPPDATA%\\Yarn"
